body{
	background-image: url(https://cloud.githubusercontent.com/assets/26077051/25926005/4f49a322-35ba-11e7-9495-048242b3e86b.jpg);
}
#mainContent{
	background-color: white; 
	width: 60%;
	margin-top: 
}
#map{
	margin: 10px;
	height: 50em;
}
#submit-info{
	margin: 20px;
}
